/* Estilos personalizados para la página te_amo.html */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    text-align: justify;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
    padding-bottom: 50px;
    position: relative;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    font-family: 'Halant', serif;
    font-weight: bold;
}
.exclamacion {
    font-size: 32px; /* Tamaño de las letras */
    font-family: 'Halant', serif; /* Fuente de letra */
    font-weight: bold; /* Negrita */
    color: #000000; /* Color rojo para destacar */
}
.brush-script {
    font-family: "Brush Script MT", cursive; /* Fuente de letra Brush Script MT */
    font-weight: 10; /* Hace la fuente más delgada */
    font-size: 50px; /* Tamaño de la letra */
    margin-left: 100px; /* Márgenes de 20px alrededor del mensaje */
    margin-right: 100px; /* Márgenes de 20px alrededor del mensaje */
    margin-top: 100px; /* Márgenes de 20px alrededor del mensaje */
}
.mensaje-largo {
    font-family: Arial, sans-serif; /* Opcional: puedes cambiar la fuente si lo deseas */
    font-size: 18px; /* Tamaño de la letra */
    line-height: 1.5; /* Espaciado entre líneas */
    margin-left: 100px; /* Márgenes de 20px alrededor del mensaje */
    margin-right: 100px; /* Márgenes de 20px alrededor del mensaje */
    margin-top: 10px; /* Márgenes de 20px alrededor del mensaje */


}
.fecha {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-family: "Brush Script MT", cursive; /* Fuente de letra Brush Script MT */
    margin-left: 100px; /* Márgenes de 20px alrededor del mensaje */
    margin-right: 110px; /* Márgenes de 20px alrededor del mensaje */
    margin-top: 100px; /* Márgenes de 20px alrededor del mensaje */
    color: #000000; /* Color rojo para destacar */

}
.teamo{
    
    font-family: "Brush Script MT", cursive; /* Fuente de letra Brush Script MT */
    font-weight: 1; /* Hace la fuente más delgada */
    font-size: 50px; /* Tamaño de la letra */
    margin-left: 100px; /* Márgenes de 20px alrededor del mensaje */
}
.container2{
    display: flex;
    align-items: center;
    justify-content: center; /* Alineación horizontal centrada */
}
.corner-img2{
    width: 250px;
    height: 300px;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mensaje-largo, .fecha {
        margin-left: 10px;
        margin-right: 10px;
    }

    .teamo {
        font-size: 30px;
        font-family: "Brush Script MT", cursive; /* Conserva la fuente anterior */
    }

    .corner-img2 {
        width: 150px;
        height: auto;
        margin-right: 0; /* Ajustamos el margen derecho para corregir la posición */
    }

    .texto {
        margin-left: 20px; /* Ajustamos el margen izquierdo para separarlo de la imagen */
    }
}


